<div class="bg-cl">

  <p>
      <mat-toolbar color="primary">

          <span>Todoist</span>

      </mat-toolbar>
  </p>

  <div class="container txt-cnt mt-5">
      <mat-card class="col-md-8 col-8 mat-elevation-z19 bg-white">
          <h3>Todo List</h3>
          <!-- Add-Todo -->
          <div class="row">
              <div class="col-md-9 col-sm-9"><input class="form-control" placeholder="What do you need to do today?" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()"></div>
              <div class="col-md-3 col-sm-3 mobile-space justify-content-around d-flex"><button (click)="addTodo()" class="col-md-5 col-5 btn btn-primary">Add</button><button (click)="resetTodo()" class="col-md-5 col-5 btn btn-primary">Reset</button></div>

          </div>
          <div class="todo-item" *ngFor="let todo of todosFiltered()">
              <div class="row todo-item mt-3">
                  <!-- checkbox -->
                  <span class="col-1 col-md-1"> <input type="checkbox" [(ngModel)]="todo.completed"></span>
                  <!-- display-todo -->
                  <div class="todo-item-label col-md-8 col-10" [ngClass]="{ 'completed' : todo.completed }">{{ todo.title }}</div>
                  <!-- delete-todo -->
                  <i class="col-3 fa fa-times text-primary" (click)="deleteTodo(todo.id)" aria-hidden="true"></i>
                  <hr class="m-0">
              </div>
          </div>

      </mat-card>
  </div>

</div>
